[submodule "members/implementations/k9-rs"]
	path = members/implementations/k9-rs
	url = https://github.com/hyperpolymath/k9-rs.git
	branch = main
[submodule "members/implementations/k9_ex"]
	path = members/implementations/k9_ex
	url = https://github.com/hyperpolymath/k9_ex.git
	branch = main
[submodule "members/implementations/k9_gleam"]
	path = members/implementations/k9_gleam
	url = https://github.com/hyperpolymath/k9_gleam.git
	branch = main
[submodule "members/implementations/k9-deno"]
	path = members/implementations/k9-deno
	url = https://github.com/hyperpolymath/k9-deno.git
	branch = main
[submodule "members/implementations/k9-haskell"]
	path = members/implementations/k9-haskell
	url = https://github.com/hyperpolymath/k9-haskell.git
	branch = main
[submodule "members/tooling/tree-sitter-k9"]
	path = members/tooling/tree-sitter-k9
	url = https://github.com/hyperpolymath/tree-sitter-k9.git
	branch = main
[submodule "members/tooling/vscode-k9"]
	path = members/tooling/vscode-k9
	url = https://github.com/hyperpolymath/vscode-k9.git
	branch = main
[submodule "members/tooling/pandoc-k9"]
	path = members/tooling/pandoc-k9
	url = https://github.com/hyperpolymath/pandoc-k9.git
	branch = main
[submodule "members/tooling/k9iser"]
	path = members/tooling/k9iser
	url = https://github.com/hyperpolymath/k9iser.git
	branch = main
[submodule "members/ci/k9-validate-action"]
	path = members/ci/k9-validate-action
	url = https://github.com/hyperpolymath/k9-validate-action.git
	branch = main
[submodule "members/ci/k9-pre-commit"]
	path = members/ci/k9-pre-commit
	url = https://github.com/hyperpolymath/k9-pre-commit.git
	branch = main
[submodule "members/examples/k9-showcase"]
	path = members/examples/k9-showcase
	url = https://github.com/hyperpolymath/k9-showcase.git
	branch = main
